[submodule "submodules/predicting-sediment-thickness"]
	path = submodules/predicting-sediment-thickness
	url = git@github.com:EarthByte/predicting-sediment-thickness.git
[submodule "submodules/CarbonateSedimentThickness"]
	path = submodules/CarbonateSedimentThickness
	url = git@github.com:EarthByte/CarbonateSedimentThickness.git
